{{> carousel}}

  <p class="display-1 text-center">Chocolate Juices</p>




                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">CHOCLATE MILK</h4>
                  <!--Text-->
                  <p class="card-text"> Chocolate milk is sometimes promoted as a great way to increase calcium and vitamin D</p>
                    <h4 class="blink">Price:200Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/chocolatejuice-images/5.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">DARK CHOCLATE</h4>
                  <!--Text-->
                  <p class="card-text">Small amounts of dark chocolate not only may be good for your heart, but also may lift your mood, help you live longer.
                  </p>
                  <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/chocolatejuice-images/6.jpg">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">FROZEN HOT CHOCLATE</h4>
                  <!--Text-->
                  <p class="card-text">Frozen Hot Chocolate is a refreshing summertime milkshake that's more icy than creamy, with the rich flavors</p>
                    <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>

                </div>

              </div>
              <!-- Card -->










</div>
</div>
