<br>
   <div class="row container-fluid">
     <div class="col-sm-3"> 
       <div class="card default-color-dark">

      <!--Card image-->
      <div class="view">
        <img src="franchising pics/1.jpg" class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        
        <a href="#" class="btn btn-outline-white btn-md waves-effect">Zamzama</a>
      </div>

    </div></div>
     <div class="col-sm-3"> <div class="card default-color-dark">

        <!--Card image-->
        <div class="view">
          <img src="franchising pics/2.jpg" class="card-img-top" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          
          <a href="#" class="btn btn-outline-white btn-md waves-effect">Defence</a>
        </div>
  
      </div></div>
     <div class="col-sm-3"> <div class="card default-color-dark">

        <!--Card image-->
        <div class="view">
          <img src="franchising pics/3.jpg" class="card-img-top" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          
          <a href="#" class="btn btn-outline-white btn-md waves-effect">Tariq Road</a>
        </div>
  
      </div></div>
     <div class="col-sm-3"> <div class="card default-color-dark">

        <!--Card image-->
        <div class="view">
          <img src="franchising pics/4.jpg" class="card-img-top" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          
          <a href="#" class="btn btn-outline-white btn-md waves-effect">New Town</a>
        </div>
  
      </div></div>
   </div>
   <br>
   <div class="row container-fluid">
      <div class="col-sm-3"> 
        <div class="card default-color-dark">
 
       <!--Card image-->
       <div class="view">
         <img src="franchising pics/5.jpg" class="card-img-top" alt="photo">
         <a href="#">
           <div class="mask rgba-white-slight"></div>
         </a>
       </div>
 
       <!--Card content-->
       <div class="card-body text-center">
         <!--Title-->
         
         <a href="#" class="btn btn-outline-white btn-md waves-effect">Sharifabad</a>
       </div>
 
     </div></div>
      <div class="col-sm-3"> <div class="card default-color-dark">
 
         <!--Card image-->
         <div class="view">
           <img src="franchising pics/6.jpg" class="card-img-top" alt="photo">
           <a href="#">
             <div class="mask rgba-white-slight"></div>
           </a>
         </div>
   
         <!--Card content-->
         <div class="card-body text-center">
           <!--Title-->
           
           <a href="#" class="btn btn-outline-white btn-md waves-effect">Sea View</a>
         </div>
   
       </div></div>
      <div class="col-sm-3"> <div class="card default-color-dark">
 
         <!--Card image-->
         <div class="view">
           <img src="franchising pics/7.png" class="card-img-top" alt="photo">
           <a href="#">
             <div class="mask rgba-white-slight"></div>
           </a>
         </div>
   
         <!--Card content-->
         <div class="card-body text-center">
           <!--Title-->
           
           <a href="#" class="btn btn-outline-white btn-md waves-effect">Hyper Star</a>
         </div>
   
       </div></div>
      <div class="col-sm-3"> <div class="card default-color-dark">
 
         <!--Card image-->
         <div class="view">
           <img src="franchising pics/8.jpg" class="card-img-top" alt="photo">
           <a href="#">
             <div class="mask rgba-white-slight"></div>
           </a>
         </div>
   
         <!--Card content-->
         <div class="card-body text-center">
           <!--Title-->
           
           <a href="#" class="btn btn-outline-white btn-md waves-effect">Atrium Mall</a>
         </div>
   
       </div></div>
    </div>
<br>
