{{> carousel}}
    <p class="display-1 text-center">Fruit Juices</p>

  <center>
    <div class="container-fluid">


      <!-- Card deck -->
      <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/fruit-images/4.jpg" alt="not available">
            <a href="#!">

              <div class="mask rgba-white-slight"></div>
            </a>
          </div>



          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">WATERMELON JUICE</h4>
            <!--Text-->
            <p class="card-text"> watermelon juice with a splash of lime is the perfect drink to enjoy on a hot summer
              day.</p>
            <h4 class="blink">Price:200Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/fruit-images/Orange_fruit.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">ORANGE JUICE</h4>
            <!--Text-->
            <p class="card-text">It has 20.8 g of sugars, 112 Calories and almost 26 grams of carbohydrates. It also
              supplies potassium and thiamin.
            </p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/fruit-images/Strawberry-juice-fruit-drinks_1920x1080.jpg">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">STRAWBERRY JUICE</h4>
            <!--Text-->
            <p class="card-text">It is widely appreciated for its characteristic aroma, bright red color, juicy texture,
              and sweetness.</p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>

          </div>

        </div>
        <!-- Card -->





        <center>
          <div class="container-fluid">


            <!-- Card deck -->
            <div class="card-deck">

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/fruit-images/Kiwi-juice-fruit-drinks_1920x1080.jpg">
                  <a href="#!">

                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>



                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">KIWI JUICE</h4>
                  <!--Text-->
                  <p class="card-text"> A Fresh kiwi fruit is rich in Vitamin C, Vitamin K, Vitamin E and a good source
                    of
                    dietary fiber.</p>
                  <h4 class="blink">Price:200Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/fruit-images/6.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">POMEGRANATE JUICE</h4>
                  <!--Text-->
                  <p class="card-text">The juice of this fruit is a popular part of healthy diets. Pomegranate seeds get
                    their vibrant red hue from polyphenols.
                  </p>
                  <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/fruit-images/7.jpg">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">CHERRY JUICE</h4>
                  <!--Text-->
                  <p class="card-text"> cherry juice is a nutritionally wholesome, low-fat drink that can provide you
                    with many health benefits.</p>
                  <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>

                </div>

              </div>
              <!-- Card -->








              <center>
                <div class="container-fluid">


                  <!-- Card deck -->
                  <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4">

                      <!--Card image-->
                      <div class="view overlay">
                        <img class="card-img-top" src="/fruit-images/8.jpg">
                        <a href="#!">

                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>



                      <!--Card content-->
                      <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">PINEAPPLE JUICE</h4>
                        <!--Text-->
                        <p class="card-text">Pineapple juice is a delicious and healthy drink. It contains bromelain,
                          which aids digestion, making it ideal for finishing a meal.</p>
                        <h4 class="blink">Price:200Rs</h4>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <center>
                          <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                        </center>
                      </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                      <!--Card image-->
                      <div class="view overlay">
                        <img class="card-img-top" src="/fruit-images/9.jpg" alt="Card image cap">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">PAPAYA JUICE</h4>
                        <!--Text-->
                        <p class="card-text">Papaya juice is fast gaining popularity for incredible health benefits This
                          papaya juice is great when your body needs a boost of vitaminC
                        </p>
                        <h4 class="blink">Price:250Rs</h4>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <center>
                          <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                        </center>
                      </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                      <!--Card image-->
                      <div class="view overlay">
                        <img class="card-img-top" src="/fruit-images/11.jpg">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">GUAVA JUICE</h4>
                        <!--Text-->
                        <p class="card-text">Guava fruit contains 4 times the vitamin C. The juice of guava leaves has also been known to cure toothaches.</p>
                        <h4 class="blink">Price:250Rs</h4>


                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <center>
                          <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                        </center>

                      </div>

                    </div>
                    <!-- Card -->






                    <center>
                      <div class="container-fluid">


                        <!-- Card deck -->
                        <div class="card-deck">

                          <!-- Card -->
                          <div class="card mb-4">

                            <!--Card image-->
                            <div class="view overlay">
                              <img class="card-img-top" src="/fruit-images/12.png">
                              <a href="#!">

                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>



                            <!--Card content-->
                            <div class="card-body">

                              <!--Title-->
                              <h4 class="card-title">MANGO JUICE</h4>
                              <!--Text-->
                              <p class="card-text">We all have fond memories of fresh homemade mango juice enjoyed in the summer vacations.</p>
                              <h4 class="blink">Price:200Rs</h4>
                              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                              <center>
                                <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER
                                  NOW</button>
                              </center>
                            </div>

                          </div>
                          <!-- Card -->

                          <!-- Card -->
                          <div class="card mb-4">

                            <!--Card image-->
                            <div class="view overlay">
                              <img class="card-img-top" src="/fruit-images/shutterstock_360360530.1920x1080.jpg"
                                alt="Card image cap">
                              <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                              <!--Title-->
                              <h4 class="card-title">SUGARCANE JUICE</h4>
                              <!--Text-->
                              <p class="card-text">Sugarcane has natural sugar content so diabetic patients should exercise caution.</juice>
                              </p>
                              <h4 class="blink">Price:250Rs</h4>
                              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                              <center>
                                <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER
                                  NOW</button>
                              </center>
                            </div>

                          </div>
                          <!-- Card -->

                          <!-- Card -->
                          <div class="card mb-4">

                            <!--Card image-->
                            <div class="view overlay">
                              <img class="card-img-top"
                                src="/fruit-images/videoblocks-slow-motion-video-of-apple-juice-pouring-into-glass-on-natural-background_hhripaclz_thumbnail-full07.png">
                              <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                              <!--Title-->
                              <h4 class="card-title">APPLE JUICE</h4>
                              <!--Text-->
                              <p class="card-text">Apple juice is a fruit juice made by the maceration and pressing of an apple.</p>
                              <h4 class="blink">Price:250Rs</h4>
                              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                              <center>
                                <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER
                                  NOW</button>
                              </center>

                            </div>

                          </div>
                          <!-- Card -->
                        </div>
                      </div>
