  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="/carousels/carousel.jpg" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="/carousels/carousel1.jpg" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="/carousels/carousel3.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->


  <p class="display-1 text-center">Menu</p>

  <center>
    <div class="container-fluid">


      <!-- Card deck -->
      <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="Kiwi-juice-fruit-drinks_1920x1080.jpg">
            <a href="#!">

              <div class="mask rgba-white-slight"></div>
            </a>
          </div>



          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">KIWI JUICE</h4>
            <!--Text-->
            <p class="card-text"> A Fresh kiwi fruit is rich in Vitamin C, Vitamin K, Vitamin E and a good source of
              dietary fiber.</p>
            <h4 class="blink">Price:200Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="Orange_fruit.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">ORANGE JUICE</h4>
            <!--Text-->
            <p class="card-text">It has 20.8 g of sugars, 112 Calories and almost 26 grams of carbohydrates. It also
              supplies potassium and thiamin.<br>
            </p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="Strawberry-juice-fruit-drinks_1920x1080.jpg">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">STRAWBERRY JUICE</h4>
            <!--Text-->
            <p class="card-text">It is widely appreciated for its characteristic aroma, bright red color, juicy texture,
              and sweetness.
            </p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </center>

          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Card deck -->
      <div class="container-fluid">
        <!-- Card deck -->
        <div class="card-deck">

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="16060.jpg" Card image cap>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">MOCKTAIL</h4>
              <!--Text-->
              <p class="card-text">A mocktail can best be described as a cocktail without the liquor, using juices,
                sodas, infused waters and many other non-alcoholic.</p>
              <h4 class="blink">Price:250Rs</h4>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <center>
                <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
              </center>
            </div>

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="Smoothies-milk-bananas-berries_1920x1080.jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">SMOOTHIE</h4>
              <!--Text-->
              <p class="card-text">A smoothie is a thick and creamy beverage made from pureed raw fruit, vegetables, and
                sometimes dairy products.</p>
              <h4 class="blink">Price:350Rs</h4>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <center>
                <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
              </center>
            </div>

          </div>
          <!-- Card -->



        </div>
        <!-- Card deck -->
        <!-- Card deck -->
        <div class="card-deck">

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="Three-cups-of-fruit-juice-apples-oranges-tomatoes_1920x1080.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">TOMATO JUICE</h4>
              <!--Text-->
              <p class="card-text">Tomato juice is a popular drink, made from the juice of fresh tomatoes. Though you can buy pure tomato juice.</p>
              <h4 class="blink">Price:350Rs</h4>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <center>
                <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
              </center>
            </div>

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="new.png">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">POMEGRANATE JUICE</h4>
              <!--Text-->
              <p class="card-text"> The juice of this fruit is a popular part of healthy diets. Pomegranate seeds get their vibrant red hue from polyphenols. 
                </p>
              <h4 class="blink">Price:350Rs</h4>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <center>
                <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
              </center>
            </div>

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="smoothie-wallpapers-hd-68890-586977.png" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">CARROT JUICE</h4>
              <!--Text-->
              <p class="card-text"> Carrot juice is a delicious and nutritious drink rich in beta carotene, vitamins A, B, C, D, E, and K, and minerals like calcium.</p>
              <h4 class="blink">Price:350Rs</h4>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <center>
                <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
              </center>

            </div>

          </div>
          <!-- Card -->
          <!-- Card deck -->
          <div class="container-fluid">
            <!-- Card deck -->
            <div class="card-deck">

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="chocolate juice.jpg" Card image cap>
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">CHOCOLATE JUICES</h4>
                  <!--Text-->
                  <p class="card-text">Juice Plus Complete Hot Chocolate! this recipe uses the amazing Juice Plus
                    Complete protein shake mix.</p>
                  <h4 class="blink">Price:350Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="protien shakes.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">PROTIEN SHAKES</h4>
                  <!--Text-->
                  <p class="card-text">A Healthy & Nutritious Protein Snack To Help You Power Through Your Day. 100%
                    Portable.<br>Price:350Rs</p>
                  <h4 class="blink">Price:350Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

            </div>
            <!-- Card deck -->
          </div>

        </div>
  </center>
  <p class="display-1 text-center">Our Deals</p>
  <center>
    <div class="container-fluid">
      <!-- Card deck -->
      <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="deal 1.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Summer Deals</h4>
            <!--Text-->
            <p class="card-text">Buy 2 Fruit Juices Get 1 Vegetable juice Free.</p>
            <h4 class="blink">Price:350Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="deal 4.jfif" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Mid-Night Deals</h4>
            <!--Text-->
            <p class="card-text">Buy 2 Protien Shakes Get 1 smoothie Free.

            </p>
            <h4 class="blink">Price:350Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top Card-image-cap" src="deal 3.jpg">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Kids deals</h4>
            <!--Text-->
            <p class="card-text">Buy 3 Chocolate Juices Get 2 Mocktails Free.</p>
            <h4 class="blink">Price:350Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </center>

          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Card deck -->
    </div>

  <p class="display-1 text-center" id="aboutus">About Us</p>

    <h2 class="fontchange">What is Shrek Juice?</h2>
  <h3>Quality Hyeigen is our pirority we never compromise on quality.</h3>
  <p class="fontstyle">we were pioneers of cold-pressed juicing in Lebanon, and were (and still are!) the only company to offer a fully certified organic juice cleanse. We listened to our customers and grew organically, making the natural transition from juicing as therapy, to supporting a more balanced and healthy lifestyle.

    Today the Sherk Juice is about more than juice and smoothies. It’s a place that takes a holistic approach to beauty, wellness and longevity. We focus on local, nutrient dense foods and a program of workshops that supports our quest and right to live better.</p>
  <div class="row container">

    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <!-- Card Wider -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Asmeer Ahmed Khan</strong></h4>
    <!-- Subtitle -->
    <h5 class="blue-text pb-2"><strong>Web Designer</strong></h5>
    <!-- Text -->
    

    <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

  </div>

</div>
    </div>
    <br>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
    </div>
  </div>
  <br>
    <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">

    <div style="background-color:#20b2aa">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/login">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic"
              href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://pk.linkedin.com/">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/?hl=en">
              <i class="fab fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          <!-- <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
          <img src="logo.png" alt="" class="img-fluid h-50">
         

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Chocolate Juice</a>
          </p>
          <p>
            <a href="#!">Vegetable Juice</a>
          </p>
          <p>
            <a href="#!">Mocktail</a>
          </p>
          <p>
            <a href="#!">Fruit Juices</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="https://www.facebook.com/">Facebook</a>
          </p>
          <p>
            <a href="https://twitter.com/login">Twitter</a>
          </p>
          <p>
            <a
              href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Gmail</a>
          </p>
          <p>
            <a href="https://pk.linkedin.com/">linkedln</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Nort Nazimabad , Karachi</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> shrekjuices@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 021-36802446</p>
          <p>
            <i class="fas fa-print mr-3"></i> 0331-3467360</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#!"> ShrekJuices.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

