<div class="w-full p-5 my-5" style="min-height: 60vh;">
    <h1 class="text-center font-weight-bold display-4">Internal Server Error</h1>
    <p class="text-center mt-4 lead px-5">WhoOps! It looks like that website.exe has stopped working</p>
    <a href="/">
        <button class="btn btn-info text-white rounded shadow-none">Go Home</button>
    </a>
</div>
