<div class="mx-auto mb-5" style="max-width: 600px;">
<h2 class="mt-2 font-weight-bold">Login to your account</h2>
<form class="mt-5 w-100" style="max-width: 600px;">
  <div class="form-group input-group-lg">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-danger"></small>
  </div>
  <div class="form-group input-group-lg mt-4">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <p class="underline text-muted font-weight-bold text-right">Forgot Password?</p>
  <button type="submit" class="btn btn-outline-dark mt-5 w-100 shadow-none rounded font-weight-bold">Login</button>
</form>
</div>
