{{> carousel}}
<p class="display-1 text-center">Mocktails</p>

  <center>
      <div class="container-fluid">


      <!-- Card deck -->
      <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/mocktail-images/1.jpg" alt="not available">
            <a href="#!">

              <div class="mask rgba-white-slight"></div>
            </a>
          </div>



          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">HURRICANE</h4>
            <!--Text-->
            <p class="card-text"> A really easy, tweakable recipe for a non-alcoholic version of the Hurricane – fruity and delicious.</p>
              <h4 class="blink">Price:200Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/mocktail-images/2.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">SEA BREEZE</h4>
            <!--Text-->
            <p class="card-text">Sea Breeze Mocktail is a non-alcoholic beverage that is combination of cranberry and grapefruit juice.
            </p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/mocktail-images/3.jfif">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">RICKEY</h4>
            <!--Text-->
            <p class="card-text"> Muddle up some fun with an old-fashioned Lime Rickey, a classic vintage mocktail that's as refreshing today.</p>
              <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>

          </div>

        </div>
        <!-- Card -->





        
                        </div>


</div>

