<div class="w-full p-5 my-5" style="min-height: 55vh;">
  <h1 class="text-center font-weight-bold display-4">Signup Successfull</h1>
  <p class="text-center mt-4 lead px-5">An account verification link has been
    sent to your email
    <span class="font-weight-bold">{{userEmail}}</span>, please verify your
    account before placing any orders</p>
  <div class="d-flex align-items-center w-full justify-content-center mt-4">
    <a href="/auth/login">
      <button class="btn btn-info text-white rounded shadow-none">Login to your
        account</button>
    </a>
    <a href="/auth/resend-verification-email">
      <button class="btn btn-outline-dark rounded ml-4 shadow-none">Resend
        verification email</button>
    </a>
  </div>
</div>