
<div class="mx-auto my-5 pt-3" style="max-width: 600px;">
<h2 class="mt-2 font-weight-bold">Create your account</h2>
<form class="mt-5 w-100" style="max-width: 600px;">
  <div class="form-group input-group-lg">
    <label>First name</label>
    <input type="text" class="form-control" placeholder="Enter first name">
    <small class="form-text text-danger"></small>
  </div>
  <div class="form-group input-group-lg">
    <label>Last name</label>
    <input type="text" class="form-control" placeholder="Enter last name">
    <small class="form-text text-danger"></small>
  </div>
  <div class="form-group input-group-lg">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-danger"></small>
  </div>
  <div class="form-group input-group-lg mt-4">
    <label>Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group input-group-lg mt-4">
    <label>Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
  </div>
  <button type="submit" class="btn btn-outline-dark mt-5 w-100 shadow-none rounded font-weight-bold">Signup</button>
</form>
<p class="text-center mt-4 mb-5 pb-3">
Already have an account?
<a href="/auth/login" class="font-weight-bold text-dark">Login</a>
</p>
</div>
