{{> carousel}}
<p class="display-1 text-center">Smoothies</p>

<center>
    <div class="container-fluid">
        <!-- Card deck -->
        <div class="card-deck">
            <!-- Card -->
            <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="/smoothie-images/1.jpg" alt="not available">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">WATERMELON JUICE</h4>
                    <!--Text-->
                    <p class="card-text"> A Fresh kiwi fruit is rich in Vitamin C, Vitamin K, Vitamin E and a good source of
                    dietary fiber.</p>
                    <h4 class="blink">Price:200Rs</h4>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <center>
                        <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                    </center>
                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="/smoothie-images/2.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">ORANGE JUICE</h4>
                    <!--Text-->
                    <p class="card-text">It has 20.8 g of sugars, 112 Calories and almost 26 grams of carbohydrates. It also
                    supplies potassium and thiamin.
                    </p>
                    <h4 class="blink">Price:250Rs</h4>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <center>
                        <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                    </center>
                </div>

            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="card mb-4">
                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="/smoothie-images/3.jpg">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">STRAWBERRY JUICE</h4>
                    <!--Text-->
                    <p class="card-text">It is widely appreciated for its characteristic aroma, bright red color, juicy texture,
                    and sweetness.</p>
                    <h4 class="blink">Price:250Rs</h4>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <center>
                        <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                    </center>
                </div>
            </div>
            <!-- Card -->
            <center>
                <div class="container-fluid">
                    <!-- Card deck -->
                    <div class="card-deck">
                        <!-- Card -->
                        <div class="card mb-4">
                            <!--Card image-->
                            <div class="view overlay">
                                <img class="card-img-top" src="/smoothie-images/4.jpg">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                                <!--Title-->
                                <h4 class="card-title">KIWI JUICE</h4>
                                <!--Text-->
                                <p class="card-text"> A Fresh kiwi fruit is rich in Vitamin C, Vitamin K, Vitamin E and a good source
                                of
                                dietary fiber.</p>
                                <h4 class="blink">Price:200Rs</h4>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <center>
                                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                                </center>
                            </div>

                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-4">

                            <!--Card image-->
                            <div class="view overlay">
                                <img class="card-img-top" src="/smoothie-images/5.jpg" alt="Card image cap">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                                <!--Title-->
                                <h4 class="card-title">POMEGRANATE JUICE</h4>
                                <!--Text-->
                                <p class="card-text">It has 20.8 g of sugars, 112 Calories and almost 26 grams of carbohydrates. It
                                also
                                supplies potassium and thiamin.
                                </p>
                                <h4 class="blink">Price:250Rs</h4>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <center>
                                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                                </center>
                            </div>

                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-4">

                            <!--Card image-->
                            <div class="view overlay">
                                <img class="card-img-top" src="/smoothie-images/6.jpg">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                                <!--Title-->
                                <h4 class="card-title">CHERRY JUICE</h4>
                                <!--Text-->
                                <p class="card-text">It is widely appreciated for its characteristic aroma, bright red color, juicy
                                texture,
                                and sweetness.</p>
                                <h4 class="blink">Price:250Rs</h4>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <center>
                                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                                </center>

                            </div>

                        </div>
                        <!-- Card -->








                        <center>
                            <div class="container-fluid">


                                <!-- Card deck -->
                                <div class="card-deck">

                                    <!-- Card -->
                                    <div class="card mb-4">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="/smoothie-images/7.jpg">
                                            <a href="#!">

                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>



                                        <!--Card content-->
                                        <div class="card-body">

                                            <!--Title-->
                                            <h4 class="card-title">PINEAPPLE JUICE</h4>
                                            <!--Text-->
                                            <p class="card-text"> A Fresh kiwi fruit is rich in Vitamin C, Vitamin K, Vitamin E and a good
                                            source of
                                            dietary fiber.</p>
                                            <h4 class="blink">Price:200Rs</h4>
                                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                            <center>
                                                <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                                            </center>
                                        </div>

                                    </div>
                                    <!-- Card -->

                                    <!-- Card -->
                                    <div class="card mb-4">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="/smoothie-images/8.jpg" alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                        <!--Card content-->
                                        <div class="card-body">

                                            <!--Title-->
                                            <h4 class="card-title">PAPAYA JUICE</h4>
                                            <!--Text-->
                                            <p class="card-text">It has 20.8 g of sugars, 112 Calories and almost 26 grams of carbohydrates.
                                            It also
                                            supplies potassium and thiamin.
                                            </p>
                                            <h4 class="blink">Price:250Rs</h4>
                                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                            <center>
                                                <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                                            </center>
                                        </div>

                                    </div>
                                    <!-- Card -->

                                    <!-- Card -->
                                    <div class="card mb-4">

                                        <!--Card image-->
                                        <div class="view overlay">
                                            <img class="card-img-top" src="/smoothie-images/9.jpg">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                        <!--Card content-->
                                        <div class="card-body">

                                            <!--Title-->
                                            <h4 class="card-title">GUAVA JUICE</h4>
                                            <!--Text-->
                                            <p class="card-text">It is widely appreciated for its characteristic aroma, bright red color,
                                            juicy texture,
                                            and sweetness.</p>
                                            <h4 class="blink">Price:250Rs</h4>


                                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                            <center>
                                                <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                                            </center>

                                        </div>

                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>
                    </div>
</div>
