{{> carousel}}

  <p class="display-1 text-center">Vegetable Juices</p>

  <center>
      <div class="container-fluid">


      <!-- Card deck -->
      <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/vegetable-images/1.jpg" alt="not available">
            <a href="#!">

              <div class="mask rgba-white-slight"></div>
            </a>
          </div>



          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">CUCUMBER JUICE</h4>
            <!--Text-->
            <p class="card-text"> Cucumber juice is a very healthy and versatile drink. Cucumbers have a high content of water</p>
              <h4 class="blink">Price:200Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/vegetable-images/2.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">TOMATO JUICE</h4>
            <!--Text-->
            <p class="card-text">Tomato juice is a popular drink, made from the juice of fresh tomatoes. Though you can buy pure tomato juice.
            </p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/vegetable-images/3.jpg">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">LEMON JUICE</h4>
            <!--Text-->
            <p class="card-text">Lemon juice is also an effective way to reduce weight as it increases the body's metabolic rate. </p>
              <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>

          </div>

        </div>
        <!-- Card -->





        <center>
          <div class="container-fluid">


            <!-- Card deck -->
            <div class="card-deck">

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/vegetable-images/4.jpg">
                  <a href="#!">

                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>



                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">CARROT JUICE</h4>
                  <!--Text-->
                  <p class="card-text">Carrot juice packs a nutrient-rich punch. Learn how it boosts your immune system, keeps your eyes healthy.</p>
                    <h4 class="blink">Price:200Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/vegetable-images/5.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">BROCOLI JUICE</h4>
                  <!--Text-->
                  <p class="card-text">Broccoli juice serves as an excellent source of vitamin K. Each 4-ounce serving of juice provides 134.6 micrograms of vitamin K.
                  </p>
                  <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/vegetable-images/6.jpg">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">PARSLEY JUICE</h4>
                  <!--Text-->
                  <p class="card-text">Parsley juice is a rich source of chlorophyll, an antioxidant compound that gives parsley its green color.</p>
                    <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>

                </div>

              </div>
              <!-- Card -->








              <center>
                <div class="container-fluid">


                  <!-- Card deck -->
                  <div class="card-deck">

                    <!-- Card -->
                    <div class="card mb-4">

                      <!--Card image-->
                      <div class="view overlay">
                        <img class="card-img-top" src="/vegetable-images/7.jpeg">
                        <a href="#!">

                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>



                      <!--Card content-->
                      <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">SPINACH JUICE</h4>
                        <!--Text-->
                        <p class="card-text">This healthy spinach juice is a green nutrient powerhouse loaded with calcium for bone health, and vitamins A and C for antioxidants.</p>
                          <h4 class="blink">Price:200Rs</h4>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <center>
                          <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                        </center>
                      </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                      <!--Card image-->
                      <div class="view overlay">
                        <img class="card-img-top" src="/vegetable-images/8.jpg" alt="Card image cap">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">WHEAT GRASS JUICE</h4>
                        <!--Text-->
                        <p class="card-text">It’s an incredibly nutrient-dense ingredient and supplies a significant amount of iron, phosphorus, magnesium, and copper.
                        </p>
                        <h4 class="blink">Price:250Rs</h4>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <center>
                          <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                        </center>
                      </div>

                    </div>
                    <!-- Card -->

                    <!-- Card -->
                    <div class="card mb-4">

                      <!--Card image-->
                      <div class="view overlay">
                        <img class="card-img-top" src="/vegetable-images/9.jpg">
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">BITTER GOURD JUICE</h4>
                        <!--Text-->
                        <p class="card-text">Bitter gourd or bitter melon (karela) juice is the best natural medicine for diabetes. Drinking it early in the morning on an empty stomach.</p>
                          <h4 class="blink">Price:250Rs</h4>
                          
                  
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <center>
                          <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                        </center>

                      </div>

                    </div>
                    <!-- Card -->






                    <center>
                      


</div>
</div>
