 {{> carousel}}
 <p class="display-1 text-center">Winter Menu</p>

  <center>
      <div class="container-fluid">


      <!-- Card deck -->
      <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/wintermenu-images/1.jpg" alt="not available">
            <a href="#!">

              <div class="mask rgba-white-slight"></div>
            </a>
          </div>



          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">KEHWA</h4>
            <!--Text-->
            <p class="card-text">“Kehwa” has been used as a medicine for thousands of years for its great health benefits.</p>
              <h4 class="blink">Price:200Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/wintermenu-images/2.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">CAPPUCCINO</h4>
            <!--Text-->
            <p class="card-text"> A cappuccino is an Italian coffee drink that is traditionally prepared with double espresso, hot milk.
            </p>
            <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>
          </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="/wintermenu-images/3.jpg">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">ESPRESSO</h4>
            <!--Text-->
            <p class="card-text"> A strong brew of coffee produced by forcing boiled water under pressure through finely ground coffee.</p>
              <h4 class="blink">Price:250Rs</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
              <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
            </center>

          </div>

        </div>
        <!-- Card -->





        <center>
          <div class="container-fluid">


            <!-- Card deck -->
            <div class="card-deck">

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/wintermenu-images/4.jpg">
                  <a href="#!">

                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>



                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">MACCHIATO COFFEE
                  </h4>
                  <!--Text-->
                  <p class="card-text"> Macchiato is mostly drunk by espresso lovers who want a bit of a sweeter taste. </p>
                    <h4 class="blink">Price:200Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/wintermenu-images/5.jfif" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">BLACK COFFEE</h4>
                  <!--Text-->
                  <p class="card-text">Black coffee contains Vitamin B2, B3, B5, Manganese, potassium and magnesium.
                  </p>
                  <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>
                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top" src="/wintermenu-images/6.jpg">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                  <!--Title-->
                  <h4 class="card-title">CHICKEN CORN SOUP</h4>
                  <!--Text-->
                  <p class="card-text">Chicken Corn Soup is a delicious and nutritional starter to have before meal. </p>
                    <h4 class="blink">Price:250Rs</h4>
                  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                  <center>
                    <button type="button" class="btn aqua-gradient btn-md" onclick="show()">ORDER NOW</button>
                  </center>

                </div>

              </div>
              <!-- Card -->








             
                        </div>


</div>
