<center class="p-3">
    {{> logo}}
</center>

<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Juices
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/juices/fruit-juice">Fruit Juices</a>
            <a class="dropdown-item" href="/juices/vegetable-juice">Vegetable Juices</a>
            <a class="dropdown-item" href="/juices/smoothies">Smoothies</a>
            <a class="dropdown-item" href="/juices/protien-shake">Protein Shakes</a>
            <a class="dropdown-item" href="/juices/winter-menu">Winter Menu</a>
            <a class="dropdown-item" href="/juices/chocolate-juice">Chocolate Juices</a>
            <a class="dropdown-item" href="/juices/mocktail">Mocktails</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="catering.html">Catering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/franchising">Franchising</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/store-location">Store location</a>
        </li>

        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        {{/unless}}

        {{#if user}}
        <form action="/auth/logout" method="post" class="nav-item">
            <button type="submit" class="btn btn-dark btn-md text-white font-weight-bold shadow-none">Logout</button>
        </form>
        {{/if}}

      </ul>
      <form class="form-inline my-1">
        <div class="md-form form-sm my-0">
          <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
      </form>
</nav>


